body{
    background: #B24592;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F15F79, #B24592);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F15F79, #B24592); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pr_pic{
    height: 40px;
    border-radius: 35px;
}


#btm_bar{
    z-index: 3;
    position: relative;
}


#btm_bar > nav{
    position: fixed;
    bottom: -70px;
    height: 120px;
    border-radius: 15px;
    padding-bottom: 70px;
}


.fa{
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
}


nav > .fa:hover{
    background-color: #203A43;
    padding: 10px;
    border-radius: 20px;
}

input:focus{
    box-shadow: none !important;
}