.pr_pic{
    width: 40px;
    border-radius: 35px;
}

.write{
    position: relative;
    z-index: 1;
}

.write > i{
    position: fixed;
    width: 70px;
    background-color: aqua;
    border-radius: 50px;

}


#thoughtModalCnt, #commentModalCnt{
    border-radius:15px;
    background: #203A43; 
    
}


.cmn_btn{
    margin: 5px 0 15px 70px;
}


@media only screen and (max-width: 600px) {
    .write > i{
        bottom: 15vh;
        left: 75vw;    
    }
}

@media only screen and (min-width: 600px) {
    .write > i{
        top: 80vh;
        left: 87vw;
    }
}

@media only screen and (min-width: 768px) {
    .write > i{
        top: 80vh;
        left: 90vw;
    }
}

@media only screen and (min-width: 992px) {
    .write > i{
        top: 80vh;
        left: 92vw;
    }
}
